<ul class='country-list'>
  {{#each this}}
    <li class='country list'>
      <img class='img' width='40px' height='40px' src='{{flag}}' alt='{{name}}' />
      <h2 class='list-title'>{{name}}</h2>
    </li>
  {{/each}}
</ul>